/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  */

  .billlabelval{
  	margin-right:25px;
  	margin-left: 5px;
  	font-weight: 600;
  }

  .right{
  	text-align: right;
  }
  .bold{
  	font-weight: 600;
  }
