<%= render "setup/shared/page" %>

<% content_for :page_header do %>

<h2 class="page-header">
    Set Up
</h2>
Choose Actions from Left Navigation !!

<% end %>

<% content_for :page_body do %>



<% end %>