<div class="row">
    <div class="col-lg-12">
		<h2 class="page-header">
		    {{title}}
		</h2>
    </div>
</div>

<div class="row _info_hidden">
    <div class="col-lg-12"> 
		<div class="alert alert-dismissable" id="_info_div">
		  	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<i class="fa fa-info-circle"></i>&nbsp;<span class="_info_span"></span>
		</div>
    </div>
</div>


<a class="btn btn-primary _auth" ng-click="newRow()" data-access-key="setup.facility_master_mgmt.create_facility">New Record</a>

<br>
<br>

<div class="row">
	<div class="col-lg-9">
	    <div class="table-responsive">
	        <table class="table table-hover">
	            <thead>
	                <tr>
						<th>Facility Code</th>
						<th>Short Desc</th>
						<th>Charge Code</th>
						<th>Tax Code</th>
	                    <th></th>
	                    <th></th>
	                    <th></th>
	                </tr>
	            </thead>

	            <tbody>
					<tr ng-repeat="row in list" ng-show="list.length > 0">
						<td>{{row.facility_code}}</td>
						<td>{{row.short_desc}}</td>		
						<td>{{row.bill_charge_code}}</td>
						<td>{{row.bill_charge_tax_code}}</td>
				        <td><a class="_auth" ng-click="showRow(row.id)" data-access-key="setup.facility_master_mgmt.show_facility">Show</a></td>
				        <td><a class="_auth" ng-click="editRow(row.id)" data-access-key="setup.facility_master_mgmt.update_facility">Edit</a></td>
				        <td><a class="_auth" data-access-key="setup.facility_master_mgmt.delete_facility">Delete</a></td>
					</tr>
					<tr ng-hide="list.length > 0">
					<td><b>No records</b></td>
					</tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>