<div class="row">
    <div class="col-lg-12">
		<h2 class="page-header">
		    {{title}}
		</h2>
    </div>
</div>

<div class="row _info_hidden">
    <div class="col-lg-12"> 
    <div class="alert alert-dismissable" id="_info_div">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <i class="fa fa-info-circle"></i>&nbsp;<span class="_info_span"></span>
    </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-6">
  	<form class= 'form-horizontal'>

      <div class="form-group">
        <label for="facility_code">Facility Code</label>
        <p class="form-control-static">{{form.facility_code}}</p>
      </div>

      <div class="form-group">
        <label for="short_name">Short Name</label>
        <p class="form-control-static">{{form.short_desc}}</p>
      </div>

      <div class="form-group">
        <label for="long_name">Long Name</label>
        <p class="form-control-static">{{form.long_desc}}</p>
      </div>

      <div class="form-group">
        <label for="bill_charge_code">Bill Charge Code</label>
        <p class="form-control-static">{{form.bill_charge_code}}</p>
      </div>

      <div class="form-group">
        <label for="bill_charge_tax_code">Bill Charge Tax Code</label>
        <p class="form-control-static">{{form.bill_charge_tax_code}}</p> 
      </div>

      <div class="form-group">
        <label for="consolidate_tax_for_bill">Consolidate Tax</label>
        <div ng-switch on="form.consolidate_tax_for_bill">
          <p class="form-control-static" ng-switch-when="true">Yes</p>
          <p class="form-control-static" ng-switch-when="false">No</p>
        </div>
      </div>

      <a class="btn btn-primary" ng-click="back()">Back</a>
	</form>
  </div>
</div>